{% load static %}

<div class="row mt-4" x-data="dataItems" x-init="{{ funcFetch }}">
    <div class="col-md-7">
        <div class="row">
            <template x-for="item in itemsProduk" :key="item.id_item">
                <div class="col-6 col-lg-4 mb-4">
                    <a href="" @click.prevent="$store.cartData.add(item)">
                        <div class="card card-product" style="width: 100%;">
                            <img :src="'{% static 'images/' %}' + item.gambar" alt="" class="product-img">
                            <div class="card-body text-center d-lg-flex justify-content-between py-2 px-3">
                                <h6 class="card-title " x-text="item.nama_item"></h6>
                                <h6 class="" x-text="'Rp. ' + item.harga"></h6>
                            </div>
                        </div>
                    </a>
                </div>
            </template>
        </div>
    </div>
    <div class="col-md-5">
        <div class="cart" x-init="$store.cartData.getListItem()">
            <div class="card" style="width: 100%;">
                <div class="card-body card-order">
                    <h4 class="mb-4"><i class="bi bi-bag"></i> Detail Pesanan</h4>
                    <template x-if="$store.cartData.items ">
                        <template x-for="item in $store.cartData.items">
                            <div class="order-content mb-3 d-xl-flex justify-content-between align-items-center">
                                <div class="order-detail d-flex gap-3">
                                    <img :src="'{% static 'images/' %}' + item.gambar" alt="" width="80px"
                                        class="rounded rounded-2">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="">
                                            <span style="font-weight: 600;" x-text="item.nama_item"></span>
                                        </div>
                                        <div class="">
                                            <span class="" x-text="'Rp. ' + item.harga"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none d-xl-block">
                                    <a class=" btn btn-sm btn-quantity rounded-circle m-1"
                                        @click.prevent="$store.cartData.kurang(item)"><i class="bi bi-dash"></i></a>
                                    <span class="m-2" x-text="item.quantity"></span>
                                    <a class="btn btn-sm btn-quantity rounded-circle m-1"
                                        @click.prevent="$store.cartData.add(item)"><i class="bi bi-plus"></i></a>
                                </div>
                                <div
                                    class="order-button mt-3 d-flex justify-content-between align-items-center d-xl-block mt-lg-0">
                                    <div class="">
                                        <div class="d-xl-none">
                                            <a class=" btn btn-sm btn-quantity rounded-circle m-lg-2"
                                                @click.prevent="$store.cartData.kurang(item)"><i
                                                    class="bi bi-dash"></i></a>
                                            <span class="mx-2" x-text="item.quantity"></span>
                                            <a class="btn btn-sm btn-quantity rounded-circle m-lg-2"
                                                @click.prevent="$store.cartData.add(item)"><i
                                                    class="bi bi-plus"></i></a>
                                        </div>
                                        <div class="d-none d-xl-block ms-5">
                                            <a @click.prevent="$store.cartData.delete(item)"
                                                class="btn btn-sm btn-delete"><i class="bi bi-trash3"></i></a>
                                        </div>
                                    </div>
                                    <div class="mt-lg-2">
                                        <span class="m-2" x-text="'Rp. ' + item.total"></span>
                                        <a @click.prevent="$store.cartData.delete(item)"
                                            class="btn btn-sm btn-delete rounded-circle d-xl-none"><i
                                                class="bi bi-trash3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                    <div class="order-amount">
                        <hr>
                        <div class="d-flex justify-content-between align-items-center"
                            x-init="$store.cartData.getTotalPay()">
                            <p class="text fs-5">Total</p>
                            <template x-if="!$store.cartData.total">
                                <p class="fs-5 fw-semibold">Rp. -</p>
                            </template>
                            <template x-if="$store.cartData.total">
                                <p class="fs-5 fw-semibold" x-text="'Rp. ' + $store.cartData.total"></p>
                            </template>
                        </div>
                    </div>
                    <div class="order-customer">
                        <form id="myForm">
                            <div class="d-lg-flex justify-content-between">
                                <div class="mb-3 customer">
                                    <label for="customer" class="form-label">Customer</label>
                                    <input type="text" class="form-control " id="customer">
                                </div>
                                <div class="mb-3 nominal">
                                    <label for="nominal" class="form-label">Nominal</label>
                                    <input type="number" class="form-control " id="nominal" placeholder="Rp.">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-order fw-medium d-block w-100">Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>