{% load static %}

<div class="row mt-4">
    <div class="col-md-7">
        <div class="row">
            {% for i in nilai %}
            <div class="col-6 col-lg-4 mb-4">
                <a href="">
                    <div class="card card-product" style="width: 100%;">
                        <img src="{% static 'images/burger.png' %}" alt="" class="product-img">
                        <div class="card-body text-center d-lg-flex justify-content-between py-2 px-3">
                            <h6 class="card-title ">Makanan 1</h6>
                            <h6 class="">Rp. 14.000</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-5">
        <div class="cart">
            <div class="card" style="width: 100%;">
                <div class="card-body card-order">
                    <h4 class="mb-4"><i class="bi bi-bag"></i> Detail Pesanan</h4>
                    <div class="order-content mb-3 d-xl-flex justify-content-between align-items-center">
                        <div class="order-detail d-flex gap-3">
                            <img src="{% static 'images/burger.png' %}" alt="" width="80px" class="rounded rounded-2">
                            <div class="d-flex flex-column gap-3">
                                <div class="">
                                    <span style="font-weight: 600;">Makanan 1</span>
                                </div>
                                <div class="">
                                    <span class="">Rp. 14.000</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-xl-block">
                            <button class=" btn btn-sm btn-quantity rounded-circle m-1"><i
                                    class="bi bi-dash"></i></button>
                            <span class="m-2">0</span>
                            <button class="btn btn-sm btn-quantity rounded-circle m-1"><i
                                    class="bi bi-plus"></i></button>
                        </div>
                        <div
                            class="order-button mt-3 d-flex justify-content-between align-items-center d-xl-block mt-lg-0">
                            <div class="">
                                <div class="d-xl-none">
                                    <button class=" btn btn-sm btn-quantity rounded-circle m-lg-2"><i
                                            class="bi bi-dash"></i></button>
                                    <span class="mx-2">0</span>
                                    <button class="btn btn-sm btn-quantity rounded-circle m-lg-2"><i
                                            class="bi bi-plus"></i></button>
                                </div>
                                <div class="d-none d-xl-block ms-5">
                                    <button @click.prevent="$store.cartData.delete(item)"
                                        class="btn btn-sm btn-delete"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                            <div class="mt-lg-2">
                                <span class="m-2">Rp. 14.000</span>
                                <button @click.prevent="$store.cartData.delete(item)"
                                    class="btn btn-sm btn-delete rounded-circle d-xl-none"><i
                                        class="bi bi-trash3"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="order-amount">
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="text fs-5">Total</p>
                            <p class="fs-5 fw-semibold">Rp. 14.000</p>
                        </div>
                    </div>
                    {% if form_submitted %}
                    <script>
                        Swal.fire(
                            'Success!',
                            'Your form has been submitted.',
                            'success'
                        );
                    </script>
                    {% endif %}
                    <div class="order-customer">
                        <form id="myForm">
                            <div class="d-lg-flex justify-content-between">
                                <div class="mb-3 customer">
                                    <label for="customer" class="form-label">Customer</label>
                                    <input type="text" class="form-control " id="customer">
                                </div>
                                <div class="mb-3 nominal">
                                    <label for="nominal" class="form-label">Nominal</label>
                                    <input type="number" class="form-control " id="nominal" placeholder="Rp.">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-order fw-medium d-block w-100">Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>