body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

nav.navbar-custom {
    background-color: #ffffff;
    border-bottom: 1px solid #010101;
}

.nav-button .btn.active {
    background-color: #3f3f3f;
    color: #f7f7f7;
}

.box-search {
    background-color: #f7f7f7;
    padding: 5px 15px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f7f7f7;
}

.box-search input {
    width: 90%;
    border: none;
    background-color: #f7f7f7;
}

.box-search input:focus {
    outline: none;
    border: none;
}


.btn-quantity {
    background-color: #f7f7f7;
    border: 1px solid #3f3f3f;
}

.order-amount .text {
    color: #838383;
}

.order-customer input {
    border-color: #d2d2d2;
}

.order-customer input:focus {
    border-color: #3f3f3f;
    box-shadow: none;
}

.btn-order {
    background-color: #3f3f3f;
    color: #f7f7f7;
}

.btn-order:hover {
    border: 1px solid #3f3f3f;
    /* background-color: #3f3f3f; */
    color: #3f3f3f;
}

.btn-delete:hover {
    background-color: rgb(255, 105, 105);
}

.card-product:hover {
    background-color: #f7f7f7;
}

.card-product img {
    width: 50%;
    margin: auto;
}